{% extends "base.html" %}

{% load static %}

{% block body_block %}
		<h1>Interested in volunteering?</h1>
		<h3>Sign up for more info!</h3>
		<form id="add_volunteer" method="post" action="/add_volunteer/">
			{% csrf_token %}
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}

			{% for field in form.visible_fields %}
				{{ field.errors }}
				{{ field.help_text }}
				{{ field }}
			{% endfor %}

			<input type="submit" name="submit" value="Submit" />
		</form>
{% endblock %}